@import "../variables";
@import "../mixins";

.excel__header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: $header-height;
	padding: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-input {
		margin: 0;
		padding: 2px 7px;
		color: #000;
		border: 1px solid transparent;
		border-radius: 2px;
		height: 20px;
		line-height: 22px;
		outline: none;
		font-size: 16px;

		&:hover {
			border: 1px solid $border-color;
		}

		&:focus {
			border: 2px solid #009DFF;
		}

	}

	&-button {
		@include button(red);
	}
}